In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("lab1").getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [2]:
df1 = spark.createDataFrame([[2], [1], [3], [7], [5]],["nums"])
df1.show()

+----+
|nums|
+----+
|   2|
|   1|
|   3|
|   7|
|   5|
+----+

### Q1

In [10]:
df1.withColumn('Squared', pow(df1['nums'], 2)).show()

+----+-------+
|nums|Squared|
+----+-------+
|   2|    4.0|
|   1|    1.0|
|   3|    9.0|
|   7|   49.0|
|   5|   25.0|
+----+-------+

### Q2

In [11]:
from pyspark.sql.functions import max

df1.select(max("nums")).show()

+---------+
|max(nums)|
+---------+
|        7|
+---------+

### Q3

In [12]:
df1.agg({'nums': 'avg'}).show()

+---------+
|avg(nums)|
+---------+
|      3.6|
+---------+

### Q4

In [17]:
df = spark.read.option('header', True).csv("./sample.csv")

### Q5

In [18]:
df.show(5,15)
df.printSchema()

+----------+---------+---------------+------+--------------+----------+
|first_name|last_name|          email|gender|    ip_address|      date|
+----------+---------+---------------+------+--------------+----------+
|   Roobbie|  Wilbore|rwilbore0@ba...|Female| 82.243.17.211|  1/7/2018|
| Aprilette|     Dole|adole1@alter...|Female| 12.132.123.75| 3/27/2017|
|  Phillipe|Winkworth|pwinkworth2@...|  Male| 71.62.119.246| 1/20/2018|
|      Arvy|   Lempke|alempke3@squ...|  Male|117.227.52.135|10/20/2017|
|      Cody|    Jakov| cjakov4@i2i.jp|Female|172.197.66.100| 5/23/2017|
+----------+---------+---------------+------+--------------+----------+
only showing top 5 rows

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- date: string (nullable = true)

### Q6

In [19]:
df.select("first_name").summary().show()

+-------+----------+
|summary|first_name|
+-------+----------+
|  count|        99|
|   mean|      null|
| stddev|      null|
|    min|     Adamo|
|    25%|      null|
|    50%|      null|
|    75%|      null|
|    max|  Zacharie|
+-------+----------+